.password__window {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #83B4FF;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  padding: 15px 20px;
}

.label__password {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #393939;
  margin-bottom: 5px;
  width: 100%;
}

.input__password {
  border: none;
  outline: none;
  width: 100%;
}

.input__password:focus {
  border: none;
}

.password__window:focus {
  border: 1px solid #3D8AFF;
}

.password__icon {
  border: none;
  background-color: white;
  background-image: url(./images/password_hide.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 20px;
}

.password__iconIsShow {
  border: none;
  background-color: white;
  background-image: url(./images/password_show.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 20px;
}
